<div class="card mt-3" style="width: 18rem;">
<div class="card-header">
    <%= board.title %>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      
    </h6>
    <p class="card-text">
      <%= board.body %>
    </p>
  </div>
  <div class="card-footer text-end">
      <small class="text-muted"><%= board.created_at.strftime("%Y-%m-%d %H:%M") %></small>
    </div>
</div>


